services:
  postgres:
    image: postgres:18.0
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: participium
    ports:
      - 5434:5432
    restart: unless-stopped